<% if @total != 0 || @resulttype != 4 %>
	<% if @page >= 0 %>
		<br />Showing <%= 10*(@page-1)+1 %> to <%= [10*@page, @total].min %> of <%= @total %>. <%= "Only showing first 250 results." if @total > 250 %>
		<% @maxpage = [(@total-1)/10+1, 25].min%>
		<br /><%= link_to("1", "javascript:search(#{@resulttype}, 1)") + " ... " if @page > 5 %><% ([1, @page - 4].max..[@maxpage, @page + 4].min).each do |pageno| %><%= link_to pageno, "javascript:search(#{@resulttype}, #{pageno})" if @page != pageno %><%= pageno if @page == pageno %> <% end %> <%= " ... " if @page + 4 < @maxpage %><%= link_to(@maxpage, "javascript:search(#{@resulttype}, #{@maxpage})") if @page + 4 < @maxpage%>
	<% end %>
	<br />
	<table class="table table-hover">
	  <tr>
	    <th></th>
	    <th id='titlecol'>Title</th>
	    <th id='synopsiscol'>Synopsis</th>
	    <th id='castcol'>Cast</th>
			<% if @resulttype != 3 %>
				<th id='ratingcol'>Critic Rating</th>
			<% end %>
	  </tr>
	  <% @movies.each do |movie| %>
	    <tr id="movie<%= movie["id"] %>" >
	      <td class='centredcell' ><img width='144' height='213' src='<%= movie["posters"]["detailed"] %>' /></td>
	      <td class='titlecell' ><%= movie["title"] %> (<%= movie["year"] %>)</td>
	      <td class='centredcell' ><%= movie["synopsis"] %></td>
	      <td class='centredcell' >
					<%= cast_list(movie) %>
	      </td>
				<% if @resulttype != 3 %>
	      	<td class='ratingscell' ><%= image_tag "fresh.png" if movie["ratings"]["critics_rating"] == "Fresh" %><%= image_tag "cfresh.png" if movie["ratings"]["critics_rating"] == "Certified Fresh" %><%= image_tag "rotten.png" if movie["ratings"]["critics_rating"] == "Rotten" %><%= movie["ratings"]["critics_score"].to_s + "%" if movie["ratings"]["critics_score"] > 0 %></td>
				<% end %>
	    </tr>
	  <% end %>
	</table>
<% else %>
	<div class="alert alert-info">
		<a href="#" class="alert-link">No results found.</a>
	</div>
<% end %>
